.tel {
  background: #04497a;
}

.tel_logo {
  float: right;
  font-size: 0.75em;
  color: #ffffff;
  line-height: 26px;
  margin-bottom: 0;
}

.banner {
  background: url(../img/logo.png) no-repeat;
  margin: 10px auto auto auto;
  padding: 10px;
}

.bg-dark {
  background: #ffffff !important;
  font-size: 0.85em;
}

.bg-dark button {
  background: #cccccc;
}

.navbar .nav-link {
  color: #444444 !important;
}

.nav-link:hover {
  color: #04497a !important;
}

.navbar {
  float: right;
}

/* hwasoft */

.soft {
  margin: 1em auto;
  /* padding: 2em; */
}

.soft-h2 {
  margin-top: 1em;
  font-weight: bold;
  line-height: 60px;
}

.soft-h2 span {
  color: #e5314f;
}

.clearfix {
  width: 100%;
  height: 328px;
  display: inline-block;
  overflow: hidden;
}

.soft-log img {
  width: 158px;
  float: left;
}

.soft-log p {
  margin-left: 12em;
  font-size: 14px;
  line-height: 195%;
  color: #444444;
}

/* news */
.news-top {
  height: 2em;
  border-left: 9px solid #e5314f;
  line-height: 2em;
  margin-top: 2em;
}

.news-top m {
  font-size: 1.6em;
}

.news-top span a {
  float: right;
  text-decoration: none;
  background: #ccc;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 20px;
  color: #444444;
}

.news-bottom {
  height: 328px;
  margin-top: 30px;
  border-left: 1px solid #cccccc;
  overflow: auto; /* 滚动条 */
  -ms-overflow-style: scrollbar;
}

/* 滚动条 start */
#force::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

#force::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

#force::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #444444;
}

.body-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #04497a;
  border-radius: 10px;
}
.body-scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #5f4747;
}
.body-scroll::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}
/* 滚动条 end */

.news-bottom ul {
  padding-left: 22px;
}

.news-bottom ul li {
  list-style: none;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 6px;
}

.news-bottom .times {
  font-size: 14px;
  color: #e5314f;
}

.news-bottom .title a {
  text-decoration: none;
  color: #444444;
}

.title:hover a {
  color: #04497a;
}

@media screen and (max-width: 576px) {
  .soft-log img {
    display: none;
    width: 0px;
  }
  .soft-log p {
    margin-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .banner {
    background: none !important;
  }
}
